// Global styling -----------------------------------------------------------
body {
  /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
  font-family: "Rubik", sans-serif !important;
  margin: 1rem;
}

* {
  max-width: none !important;
}

a:link {
  text-decoration: none;
}

// Container for content on Homepage ----------------------------------------
.homeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// Main content area --------------------------------------------------------
.homeMain {
  flex-basis: calc(70% - 10px);
  /* Adjust the width and margins as needed */
  margin-bottom: 20px;
  /* Adjust the margin between columns */
}

// Sidebar area -------------------------------------------------------------
.homeSidebar {
  flex-basis: calc(30% - 10px);
  /* Adjust the width and margins as needed */
  margin-bottom: 20px;
  /* Adjust the margin between columns */
}

// Font classes -------------------------------------------------------------
.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.jetbrains-mono-font {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
