body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    @media screen and (min-width: 1024px) {
  .homeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .homeColumn {
    flex-basis: calc(50% - 10px); /* Adjust the width and margins as needed */
    margin-bottom: 20px; /* Adjust the margin between columns */
  }
}
}
