body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

// Site-specific styles
// HOMEPAGE
body.theme-dark.notes {
  @media screen and (min-width: 1024px) {
    .content, .navbar {
      max-width: 80vw !important;
    }
    // Home Columns
    .hc {
      @include _fg(2 1, 96px);
      margin-bottom: 24px;
      > :nth-child(2n+2) {
        // background: rgba(255,255,255,0.1);
        // border-radius: 8px;
        // padding: 24px;
        // border-left: 1px solid rgba(255,255,255,0.2);
        // padding-left: 48px;
        --font-size: 90%;

        h1 {
          --font-size: 2em;
          --typography-spacing-vertical: 3em;
        }
        
        h2 {
          --font-size: 1.75em;
          --typography-spacing-vertical: 2.625em;
        }
        
        h3 {
          --font-size: 1.5em;
          --typography-spacing-vertical: 2.25em;
        }
        
        h4 {
          --font-size: 1.25em;
          --typography-spacing-vertical: 1.874em;
        }
        
        h5 {
          --font-size: 1.125em;
          --typography-spacing-vertical: 1.6875em;
        }
        h1, h2, h3, h4, h5 { margin-bottom: 0.25em; }
      }
    }
  }
  #hello { text-align: center; }

  .content img {
    border-radius: 8px;
  }

  // Image streams on homepage
  .is {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    .is__item { margin-right: 20px; margin-bottom: 20px; width: calc(33.33% - 14px);
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
    .is__item a { display: block; }
    .is__item img {
      display: block;
    }
  }

  #bookwyrm-reading .is {
    .is__item { width: auto; }
    .is__item img { height: 200px; }
  }

  .book-covers {
    ul {
      margin-left: 0; padding-left: 0;
      list-style-type: none;
      li {
        display: inline-block;
        margin-right: 12px;
        img {
          height: 200px;
        }
      }
    }
  }
}
